main{
    margin-left: auto;
    margin-right: auto;

}

body{
    width: 95vw;
    max-width: 1024px;
    margin: auto;
}

.main-body{
    background-color: #f7fbfc;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    color: #769fcd;
}

#form{
    max-width: 50%;
}

#about-me{
    margin-left: auto;
    margin-right: auto;
    /* max-width: 90%; */
}

#about-me div{
    padding: 13px;
    background-color: #f2f4f7;
}
#pic-main{
    max-height: 300px;
}

#basic-info-heading p{
    font-weight: 500;
}
#basic-info-heading{
    min-width: 40%;
}

#basic-info-heading{
    padding: none;

    display: grid;

    grid-template-columns:40% 70%;

    min-height: 90%;
}

#rate-div{
    display: none;
}

/* *{
    box-sizing: border-box;
} */

form{
    padding: 1em;
}

input:focus, textarea:focus{
    outline: 2px solid lightskyblue;
}


#date{
    font-weight: 600;
}


.card-holder{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    gap: 2em;
}

#form-div{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.edu-header{
    color: #769fcd
}

.educard{
    min-height: 250px;
}


@media screen and (max-width: 800px) {
    body {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #form-div{
        max-width: 85%;
    }
    .main-buttons{
        max-width: 100%;
    }

  }